[submodule "sduContentionCourse"]
	path = sduContentionCourse
	url = https://github.com/yqylh/sduContentionCourse
[submodule "actions-SduElectricityReminder"]
	path = actions-SduElectricityReminder
	url = https://github.com/zhangt2333/actions-SduElectricityReminder
[submodule "sdu-qd-electricity-bill"]
	path = sdu-qd-electricity-bill
	url = https://github.com/SadPencil/sdu-qd-electricity-bill/
[submodule "sdunetd"]
	path = sdunetd
	url = https://github.com/SadPencil/sdunetd
[submodule "sdu_report_song"]
	path = sdu_report_song
	url = https://github.com/Naylenv/sdu_report_song.git
