[submodule "sduContentionCourse"]
	path = sduContentionCourse
	url = https://github.com/yqylh/sduContentionCourse
[submodule "sdu-qd-electricity-bill"]
	path = sdu-qd-electricity-bill
	url = https://github.com/SadPencil/sdu-qd-electricity-bill/
[submodule "sdunetd"]
	path = sdunetd
	url = https://github.com/SadPencil/sdunetd
[submodule "sdu_report_song"]
	path = sdu_report_song
	url = https://github.com/Naylenv/sdu_report_song.git
[submodule "sdu-lib-seat"]
	path = sdu-lib-seat
	url = https://github.com/PTYin/sdu-lib-seat.git
[submodule "SDU-QD-Electricity-Query-Script"]
	path = SDU-QD-Electricity-Query-Script
	url = https://github.com/Dregen-Yor/SDU-QD-Electricity-Query-Script
[submodule "sdu-exp-report"]
	path = sdu-exp-report
	url = https://github.com/Dregen-Yor/sdu-exp-report
